@import "../../scss/_helpers";

.app {
  &__leaderboards-section {
    width: 100%;

    & .container h5,
    & .container form .row {
      margin-bottom: 24px;

      & div select {
        cursor: pointer;
      }
    }
  }

  &__leaderboards-table-section {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__leaderboards-table {
    border: 1px solid $color-black-100;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px $color-black-100;

    & thead {
      white-space: nowrap;
    }
  }

  @media screen and (max-width: 768px) {
    &__leaderboards-section {
      & .container h4,
      & .container form .row {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }
  }

  @media screen and (max-width: 320px) {
    &__leaderboards-section {
      & .container h4,
      & .container form .row {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }

    &__leaderboards-table {
      & thead {
        font-size: 14px;
      }

      & tbody {
        font-size: 12px;
      }
    }
  }
}
