@import "../../scss/_helpers";

.app {
  &__tools {
    width: 100%;
  }

  &__tools-container {
    height: calc(100vh - 131px);
    overflow-y: scroll;
    width: 100%;

    & .container {
      padding: 24px;

      & form .row {
        padding: 0 0 16px;
        align-items: center;
      }
    }
  }

  &__tools-tab {
    @extend %app-tools-browse-tabs;
  }

  &__tools-platform-btn {
    @include direction-justitfy-align-properities(row, center, center);
    padding: 4px 15px;
    background-color: $color-gray-600;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    color: $color-gray;
    white-space: nowrap;

    & svg {
      margin-right: 5px;
    }
  }

  &__tools-filter {
    @extend %app-tools-browse-filter;
  }

  &__tools-filter-criteria {
    & div {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
    }
  }

  &__tools-filter-criteria-input {
    height: 0;
    width: 0;
    visibility: hidden;

    & ~ label {
      position: relative;
      display: block;
      width: 30px;
      height: 12px;
      cursor: pointer;
      background: $color-gray-200;
      text-indent: -9999px;
      border-radius: 50px;
      margin: 2px 10px 0 0;

      &:after {
        content: "";
        position: absolute;
        top: -1px;
        left: 0px;
        width: 14px;
        height: 14px;
        background: $color-gray;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
      }
    }

    &:checked + label {
      background: $color-gray-200;

      &:after {
        left: 100%;
        transform: translateX(-100%);
      }
    }

    &:active:after {
      width: 20px;
    }
  }

  &__tools-table {
    border: 1px solid $color-black-100;
    border-collapse: collapse;
    margin: 0;
    white-space: nowrap;

    & thead {
      background-color: $color-gray-600;
      color: $color-gray-100;
    }

    & thead,
    & th {
      border-style: none;
    }

    & tbody {
      vertical-align: middle;
    }
  }

  &__tools-card-table-data {
    display: flex;

    & div h6 {
      margin: 0;
    }

    & div p {
      font-size: 10px;
      margin: 0;
    }
  }

  &__tools-card-table-data-icon {
    background: $color-radium-theme;
    color: $color-white;
    padding: 10px 10px;
    border-radius: 6px;
    margin-right: 5px;
  }

  &__tools-line-bar-chart {
    width: 200px;
    border-radius: 10px;
    border: 1px solid $color-black-300;
    box-shadow: 0 0 5px $color-black-100;
  }

  @include breakpoint(lg-desktop) {
    &__tools-filter,
    &__browse-filter {
      margin-bottom: 20px;
    }

    &__leaderboards-input {
      margin-bottom: 10px;
    }

    &__tools-platform-btns {
      margin-right: 10px;
    }

    &__tools-filter-criteria {
      & div {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__browse-cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  }

  @include breakpoint(md-ipad) {
    &__tools-container .container,
    &__browse-container .container {
      padding: 24px 12px;
    }

    &__tools-filter-criteria {
      & div {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &__tools-tab,
    &__browse-tab {
      padding: 20px 12px 0;
      justify-content: space-between;
    }

    & .nav-item {
      width: auto;
    }
  }

  @include breakpoint(md-ipad-min) {
    &__tools-container,
    &__browse-container {
      height: calc(100vh - 132px);
    }

    &__tools-filter-criteria {
      & div {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__tools-tab,
    &__browse-tab {
      justify-content: normal;
      flex-wrap: nowrap;
      width: 100%;
      overflow-y: hidden;
      overflow-x: auto;

      &::-webkit-scrollbar {
        height: 5px;
      }

      & .nav-item .nav-link.active {
        border: 1px solid $color-radium-theme;
        border-bottom: none;
      }
    }

    &__tools-platform-btns {
      margin-right: 0;
    }

    &__browse-cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__leaderboards-select-btn {
      select {
        font-size: 13px;
      }
    }

    &__leaderboards-toggle-btn {
      font-size: 13px;
    }
  }

  @include breakpoint(portrait-mobile-min) {
    &__tools-container,
    &__browse-container {
      height: calc(100vh - 158px);

      & .container {
        padding: 16px 12px 20px;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }
    }

    &__tools-tab,
    &__browse-tab {
      padding: 12px 12px 0;
      font-size: 14px;

      & .nav-item .nav-link.active {
        padding: 8px;
      }

      &::-webkit-scrollbar {
        height: 4px;
      }
    }

    &__leaderboards-input,
    &__tools-platform-btn {
      font-size: 12px;
    }

    &__tools-filter,
    &__browse-filter {
      & div h6,
      & label {
        font-size: 13px;
      }
    }

    &__tools-filter-criteria {
      & div {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &__tools-table {
      & thead {
        font-size: 14px;
      }

      & tbody {
        font-size: 12px;
      }
    }

    &__tools-filter,
    &__browse-filter {
      padding: 12px;
    }

    &__browse-rarity-section {
      & div {
        justify-content: flex-start;
      }
    }
  }

  @include breakpoint(xsmall-mobile-max) {
    &__tools-container,
    &__browse-container {
      height: calc(100vh - 158px);
    }

    &__tools-platform-btns {
      margin-right: 0;
    }

    &__browse-cards {
      grid-template-columns: repeat(1, 1fr);
    }

    &__leaderboards-select-btn {
      select {
        font-size: 12px;
      }
    }

    &__leaderboards-toggle-btn,
    &__browse-cards-icon p,
    &__browse-cards-bottom-content p,
    &__browse-cards-bottom-content button {
      font-size: 12px;
    }

    &__browse-cards-top-content {
      & div h6 {
        font-size: 14px;
      }
    }

    &__browse-rarity-section {
      & h6 {
        font-size: 13px;
      }
    }
  }
}
