@import "../../scss/_helpers";

.app {
  &__navbar {
    border-bottom: 1px solid $color-black-300;
    padding: 10px 0;

    .container-fluid {
      position: relative;
    }
  }

  &__navbar-logo-section {
    min-width: 210px;
    margin: 0 10px;
  }

  &__navbar-logo {
    @include direction-justitfy-align-properities(row, center, center);
  }

  &__navbar-logo-img {
    height: 30px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__navbar-logo-text {
    margin: 0;
    font-size: 10px;
    color: $color-gray-500;
    text-align: center;
    text-decoration: none;
  }

  &__navbar-left-section {
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;

    & div {
      display: flex;
    }
  }

  &__navbar-badges-left {
    background-color: $color-white;
    border: 1px solid $color-black-300;
    border-radius: 15px;
    color: $color-black;
    font-size: $a-font-size;
    transition: all 0.3s ease-in-out;
    padding: 4px 16px;
    margin-right: 10px;

    &.active {
      background-color: $color-black;
      border: 1px solid $color-black;
      color: $color-radium-theme;
    }

    &:hover {
      background-color: $color-black;
      border: 1px solid $color-black;
      color: $color-radium-theme;
      transition: all 0.3s ease-in-out;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__navbar-right-section {
    justify-content: space-around;
    align-items: center;
    min-width: 140px;
  }

  &__navbar-badges-right {
    padding: 4px 16px;
    background-color: $color-radium-theme;
    border: 1px solid $color-radium-theme;
    border-radius: 15px;
    color: $color-white;
    font-size: $a-font-size;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;

    &:hover {
      background-color: $color-white;
      color: $color-radium-theme;
      border: 1px solid $color-black-300;
      transition: all 0.3s ease-in-out;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__navbar-search-icon {
    @extend %navbar-right-icons;

    & svg {
      font-size: $svg-font-size;
    }
  }

  &__navbar-notification-icon {
    @extend %navbar-right-icons;
    position: relative;
    padding: 7px !important;
  }

  &__navbar-user-icon {
    @extend %navbar-right-icons;
    position: relative;
    padding: 7px !important;
  }

  &__navbar-search-block {
    position: absolute;
    @include position-properties(0, 0, 0, 0);
    @include display-direction-justify-properties(column, center);
    padding: 16px;
    z-index: 1200;
    background-color: $color-white;
  }

  &__navbar-search-closebtn {
    font-size: 20px;
  }

  &__navbar-badge {
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: $badge-font-size !important;
    font-weight: 300 !important;
    padding: 2px 4px !important;
  }

  .dropdown-header,
  .dropdown-footer {
    text-align: center;
  }

  &__navbar-notification-dropdown {
    max-width: 300px;
    min-width: 280px;
    padding: 0;
  }

  &__navbar-user-dropdown {
    padding: 0;
  }

  .dropdown-divider {
    height: 0;
    overflow: hidden;
    border-top: 1px solid $color-white-100;
  }

  &__navbar-notification-dropdown .dropdown-item,
  &__navbar-user-dropdown .dropdown-item {
    padding: 8px 16px;
  }

  &__navbar-hamburger {
    display: none;
    cursor: pointer;
  }

  &__navbar-more-tabs {
    display: none;
  }

  @media screen and (max-width: 1240px) {
    &__navbar-logo-section {
      min-width: 210px;
      z-index: 1100;
    }

    &__navbar-right-section {
      min-width: 160px;
    }

    &__navbar-left-section {
      flex-direction: column !important;
      align-items: flex-start;
      flex-wrap: inherit;
      max-width: fit-content;
      position: fixed;
      overflow: hidden;
      top: -100%;
      transition: all 0.3s ease-in-out;

      & div {
        flex-direction: column;
        width: -webkit-fill-available;
      }

      &.show {
        top: 54px;
        width: 200px;
        height: 200px;
        overflow: auto;
        background: $color-white;
        border-radius: 10px;
        z-index: 10;
        border: 1px solid $color-black-200;
        transition: all 0.3s ease-in-out;
      }
    }

    &__navbar-badges-left {
      transition: none;
      border: none;
      border-radius: 0;
      margin-right: 0;
      padding: 0;

      &.active {
        border: none;
      }

      &:hover {
        border: none;
      }
    }

    &__navbar-badges-right {
      background-color: transparent;
      color: $color-black;
      border: none;
      border-radius: 0;
      transition: none;
      margin-right: 0;
      padding: 0;

      &.active {
        border: none;
        background-color: $color-black;
        color: $color-radium-theme;
      }

      &:hover {
        border: none;
        background-color: $color-black;
        color: $color-radium-theme;
      }
    }

    #basic-nav-dropdown {
      display: block;

      & ~ div {
        overflow: auto;
        max-height: 250px;
        padding: 0;

        & a:hover {
          background: $color-black-100;
        }
      }
    }

    &__navbar-more-tabs {
      display: block;

      & button {
        background-color: transparent;
        border: 1px solid $color-black-300;
        border-radius: 10px;
        padding: 5px 15px;
      }
    }

    &__navbar-hamburger {
      display: block;
      padding-bottom: 5px;

      & svg {
        font-size: $hamburger-icon-font-size;
      }
    }

    &__navbar-left-section::-webkit-scrollbar {
      width: 8px;
    }
  }

  @media screen and (max-width: 540px) {
    .navbar-expand {
      flex-wrap: wrap;
    }

    &__navbar-logo-section {
      margin-bottom: 6px;
    }

    &__navbar-more-tabs {
      & button {
        font-size: 12px;
      }
    }

    &__navbar-search-icon {
      & svg {
        font-size: 14px;
      }
    }

    &__navbar-notification-icon,
    &__navbar-user-icon {
      & svg {
        font-size: 16px;
      }
    }

    &__navbar-search-icon,
    &__navbar-notification-icon,
    &__navbar-user-icon {
      padding: 6px;
    }

    .app__navbar-badge {
      right: 2px;
      top: 2px;
    }

    &__navbar-right-section {
      min-width: 150px;
    }
  }

  @media screen and (max-width: 320px) {
    &__navbar-left-section {
      &.show {
        top: 96px;
      }
    }
  }
}
