@import "../../scss/_helpers";

.app {
  &__sidebar {
    min-width: 230px;
    padding: 15px 10px;
    border-right: 1px solid $color-black-300;
  }

  &__sidebar-logo-section {
    display: none;
  }

  &__sidebar-links {
    @include display-direction-properties(column);
    padding: 0 10px;
    overflow: auto;
    height: 206px;

    & a {
      margin-bottom: 6px;
    }

    & a:nth-last-child(1) {
      margin-bottom: 0;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
  }

  &__sidebar-badge {
    display: inline-block;
    background-color: $color-white;
    width: 100%;
    font-size: 14px;
    border-radius: 25px;
    padding: 8px 4px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $color-radium-theme;
      color: $color-white;
      transition: all 0.3s ease-in-out;

      .sidebar-assets-icon {
        transform: rotate(45deg);
      }
    }

    &.active {
      background-color: $color-radium-theme;
      color: $color-white;

      .sidebar-assets-icon {
        transform: rotate(45deg);
      }
    }
  }

  &__sidebar-icons {
    font-size: 18px;
    margin: 0 10px 2px;
  }

  @include breakpoint(xlarge-desktop-max) {
    &__sidebar {
      position: fixed;
      background: $color-white;
      top: 0;
      left: -100%;
      width: 282px;
      height: 100vh;
      z-index: 1050;
      padding: 10px 10px 15px;
      transition: all 0.3s ease-in-out;
    }

    &__offcanvasSidebar {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      opacity: 0.5;
      z-index: 100;
      transition: all 0.3s ease-in-out;
    }

    &__sidebar-logo-section {
      @include display-justify-properities(flex-end);
      min-width: 9rem;
      height: 72px;
    }

    &__sidebar-close-btn {
      padding: 6px 0 0;

      & svg {
        font-size: 30px;
        cursor: pointer;
      }
    }

    &__sidebar.active {
      left: 0;
    }

    &__offcanvasSidebar.active {
      left: 0;
    }
  }

  @include breakpoint(xsmall-mobile-max) {
    &__sidebar.active {
      width: 100%;
    }

    &__sidebar-badge {
      font-size: 12px;

      & svg {
        font-size: 14px;
      }
    }
  }
}
