@import "../../scss/_helpers";

.app {
  &__dashboard-portifolio {
    border: 1px solid $color-white-200;
  }

  &__dashboard-portifolio-content {
    @include direction-justitfy-align-properities(row, space-between, center);
    padding: 8px;
  }

  &__dashboard-portifolio-content-left {
    margin-left: 16px;

    & p {
      margin: 0;
      font-size: 12px;
    }
  }

  &__dashboard-portifolio-content-right {
    & a svg {
      color: $color-black;
    }
  }

  &__dashboard-assets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__dashboard-assets-card {
    height: 200px !important;

    &.card--one {
      background-color: $color-violet-100;
    }

    &.card--two {
      background-color: $color-pink-100;
    }

    &.card--three {
      background-color: $color-green-100;
    }

    &.card--four {
      background-color: $color-yellow-100;
    }

    & .card-body div p {
      font-size: 12px;
    }
  }

  &__dashboard-assets-card-body {
    @include display-direction-justify-properties(column, space-between);

    & .top-section {
      @include display-justify-properities(space-between);

      & div h6 {
        margin: 0;
      }

      & div p {
        margin: 0;
      }

      & a svg {
        color: $color-black;
      }
    }

    & .bottom-section {
      @include display-justify-properities(space-between);

      & p {
        margin: 0;
      }

      & p:last-child {
        color: $color-white;
      }
    }
  }

  &__dashboard-assets-performance {
    padding: 0 30px 0 12px;
  }

  &__dashboard-assets-performance-header {
    @include direction-justitfy-align-properities(row, space-between, center);

    & h5 {
      margin: 0;
    }

    & div {
      display: flex;

      & select {
        border-radius: 32px;
      }

      & select:first-child {
        margin-right: 16px;
      }

      & select:last-child {
        width: auto;
      }
    }
  }

  &__dashboard-table {
    & tr {
      $color-white-space: nowrap;
    }
  }

  &__dashboard-assets-invite {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $color-black-100;

    & h5 {
      color: $color-radium-theme;
    }

    & h6 {
      color: $color-black;
    }

    & p {
      font-size: 12px;
      color: $color-gray-100;
    }
  }

  &__dashboard-assets-invite-email {
    display: flex;
    margin-bottom: 16px;

    & input {
      margin-right: 8px;
    }

    & button {
      background-color: $color-radium-theme;
      color: $color-white;
      border: none;
      border-radius: 5px;
      padding: 0 20px;
    }
  }

  &__dashboard-assets-invite-img {
    height: 120px;
    background-color: $color-white-300;
    text-align: center;
    margin-bottom: 16px;

    & img {
      height: 120px;
      width: 120px;
    }
  }

  &__dashboard-assets-invite-terms {
    @include display-justify-properities(space-between);

    & p {
      margin: 0;
    }

    & p:first-child {
      color: $color-black;
    }
  }

  @media screen and (max-width: 1200px) {
    &__dashboard-portifolio {
      margin-bottom: 20px;
    }

    &__dashboard-assets {
      grid-template-columns: repeat(4, 1fr);
    }

    &__dashboard-assets-performance {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    &__dashboard-assets {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 480px) {
    &__dashboard-assets {
      grid-template-columns: repeat(1, 1fr);
    }

    &__dashboard-portifolio {
      margin-bottom: 10px;
    }

    &__dashboard-assets-card-body {
      & .top-section {
        & div h6 {
          font-size: 14px;
        }

        & div p {
          font-size: 12px;
        }
      }

      & .bottom-section {
        & p {
          font-size: 12px;
        }
      }
    }

    &__dashboard-assets-performance-header {
      flex-wrap: wrap;

      & .form-select {
        font-size: 12px;
      }

      &__dashboard-table {
        & thead {
          font-size: 14px;
        }

        & tbody {
          font-size: 12px;
        }
      }

      & div select:first-child {
        margin-right: 6px;
      }
    }

    &__dashboard-assets-performance {
      margin-bottom: 10px;
    }

    h4 {
      font-size: 16px;
    }

    &__dashboard-assets-invite-img {
      height: 100px;
      margin-bottom: 12px;

      & img {
        height: 100px;
        width: 100px;
      }
    }

    &__dashboard-assets-invite-terms {
      flex-direction: column;
      & p {
        font-size: 10px;
      }
    }

    &__dashboard-portifolio-content-left {
      margin-left: 0;
    }

    &__dashboard-assets-invite {
      & h5 {
        font-size: 16px;
      }

      & h6 {
        font-size: 14px;
      }
    }

    &__dashboard-assets-invite-email {
      & ::placeholder,
      button {
        font-size: 12px;
      }
    }
  }
}
