%navbar-right-icons {
  color: $color-black;
  border-radius: 50%;
  border: 1px solid $color-black;
  padding: 8px;
  display: flex !important;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background-color: $color-radium-theme;
    color: $color-white;
    transition: 0.3s;
  }

  & svg {
    font-size: 20px;
  }
}

%home-card-radius {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

%app-tools-browse-tabs {
  padding: 20px 20px 0;

  & .nav-item {
    width: calc(100% / 3);
    white-space: nowrap;

    & .nav-link {
      color: $color-gray-100;

      &:hover {
        border-color: transparent;
        color: $color-black;
      }

      &.active {
        color: $color-black;
        border-color: transparent;
        border-bottom: 4px solid $color-radium-theme;
      }
    }
  }
}

%app-tools-browse-filter {
  padding: 20px;
  background-color: $color-gray-600;
  border-radius: 10px;
  margin-bottom: 40px;

  & .row {
    margin-bottom: 16px;
    gap: 10px;
  }

  & label {
    color: $color-gray;
    font-size: 14px;
    white-space: nowrap;
  }

  & select {
    background-color: transparent;
    color: $color-gray;
    font-size: 12px;
  }

  & div h6 {
    color: $color-gray;
  }

  & div button {
    @include display-align-properities(center);
    padding: 4px 10px;
    background-color: $color-gray-400;
    border-radius: 50px;
    border: 0;
    font-size: 12px;
    color: $color-gray;
    white-space: nowrap;
  }
}
