@mixin flex-column-properties($justify-content, $align-items) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-row-properities($justify-content, $align-items) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin direction-justitfy-align-properities(
  $direction,
  $justify-content,
  $align-items
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin display-align-properities($align-items) {
  display: flex;
  align-items: $align-items;
}

@mixin display-justify-properities($justify-content) {
  display: flex;
  justify-content: $justify-content;
}

@mixin display-direction-properties($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin display-direction-align-properties($direction, $align-items) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
}

@mixin display-direction-justify-properties($direction, $justify-content) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
}

@mixin background-img($img-name, $extension) {
  background-image: url(#{$img-path}#{$img-name}#{$extension});
}

@mixin position-properties($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

$breakpoints: (
  "xsmall-mobile": (
    max-width: 320px,
  ),
  "xsmall-mobile-max": (
    max-width: 480px,
  ),
  "portrait-mobile-min": (
    max-width: 500px,
  ),
  "portrait-mobile-max": (
    max-width: 540px,
  ),
  "sm-mobile-max": (
    max-width: 680px,
  ),
  "md-ipad-min": (
    min-width: 700px,
  ),
  "md-ipad": (
    max-width: 768px,
  ),
  "lg-desktop": (
    max-width: 1000px,
  ),
  "xlarge-desktop": (
    min-width: 1200px,
  ),
  "xlarge-desktop-max": (
    max-width: 1240px,
  ),
);

@mixin breakpoint($name) {
  @if map-has-key($breakpoints, $name) {
    @media screen and #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  } @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}
