$font-size-a: 14px;
$font-size-a-xs: 12px;

$font-size-svg-close-btn: 30px;
$font-size-svg-accord-btn: 20px;
$font-size-svg: 18px;
$font-size-svg-icons-xs: 16px;
$font-size-svg-xs: 14px;
$font-size-svg-xs-min: 12px;

$font-size-h4-sm: 20px;
$font-size-h4-xs-max: 18px;
$font-size-h4-xs: 16px;
$font-size-h4-xs-min: 14px;

$font-size-h5-sm: 18px;
$font-size-h5-xs-max: 16px;
$font-size-h5-xs: 14px;

$font-size-h6-sm: 16px;
$font-size-h6-xs-max: 14px;
$font-size-h6-xs: 12px;

$font-size-p: 14px;
$font-size-p-max: 12px;
$font-size-p-xs: 10px;

$font-size-badge: 7px;

$font-size-hamburger-icon: 20px;

$font-size-thead-xs: 14px;
$font-size-tbody-xs: 12px;

$font-size-btn-xs: 13px;
$font-size-btn-xs-min: 12px;
