$color-radium-theme: #8ff129;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #808080;

$color-black-300: #0000001a;
$color-black-200: #0000001d;
$color-black-100: #0000000f;

$color-white-100: #e9ecef;

$color-gray-100: #8080809c;
