$color-radium-theme: #8ff129;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #808080;
$color-blue: #103351;

$color-black-400: #0000002d;
$color-black-300: #0000001a;
$color-black-200: #0000001d;
$color-black-100: #0000000f;

$color-white-300: #f5f8fe;
$color-white-200: #dee2e6;
$color-white-100: #e9ecef;

$color-gray-700: #80808085;
$color-gray-600: #d3d3d345;
$color-gray-500: #8080809c;
$color-gray-400: #a9a9a969;
$color-gray-300: #afafaf63;
$color-gray-200: #c3c2c2;
$color-gray-100: #a4a4a4;

$color-violet-100: #c7bcdd;

$color-pink-100: #ffefbd;

$color-green-100: #c3fcce;

$color-yellow-100: #fcfcbe;
